body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
/*HEAD PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.head{
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}
.par{
  display: flex;
gap: 98px;
padding: 1%;
}
.rectangel{
  width: 63px;
  height: 3px;
  background-color: white;
}
.gauche{
  display: flex;
  gap:17px;
  flex-direction: column;
}
.ytb{
  display: flex;
width: auto;
height: 197px;
margin-top: -53px
}
.ytb img{
  height: 75%;
  width: 80%;
}
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -90px;
}
.reche {
  position: relative;
}
.searchh {
  width: 600px;
  padding:20px 52px;
  border:0px solid #ffffff;
  border-radius:46px;
  font-size: 15px;
  outline:none;
  transition:0.3s ease;
  background-color: #ffffff;
  color: #000000;
}
.searchh:focus {
  border-color: #3ea6ff; /* Couleur bleu de YouTube */
  box-shadow: 0 0 5px rgba(62, 166, 255, 0.5);
}
.pic {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rechpic,.audiopic 
{
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.rechpic:hover,.audiopic:hover 
{
  transform: scale(1.1);
}
.rond{
  width:80px;
  height:80px;
  border-radius:50%;
  background-color: gray;
}
.profilepic{
width:80px;
height:80px;
border-radius:50%;
background-color: black;
}
.droite{
  display: flex;
  gap:70px;
  padding: 1%;
}
.cree {
  width: 273px;
  margin-right: 13px;
  border-radius:50px;
  padding-top: 0px;
  cursor: pointer;
  height: 90px;
  font-size: 46px;
  background-color: black;
  color: white;
}

/*body PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.boddy{
display: flex;
gap:165px;
}
/*button PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.a,.b,.c,.d,.e,.f,.g,.h,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s{
  background-color: rgb(30, 29, 29);
  color: white;
  padding: 15px 40px;
  border: none;
  font-size: 34px;
  margin-top:30px;
  border-radius: 20px;
  margin-left: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.buton{
  display: flex;
  cursor: pointer;
  justify-content: end;
  transition: 0.5s;
  margin-right: 75px;
}  
/*Pub PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.div9{
  width: 97%;
  height: 807px;
  margin-top: 55px;
  margin-left: 50px;
}
.pubpic{
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-left: auto
}

/*menu PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

hr{
height: 5px;
background-color: gray;
border: none;
}
span{
  font-size: 30px;
  margin-top: 30px;
}
img{
height: 80px;
width: 80px;
}
.home,.shorts,.subcriptons,.trending,.music,.gaming,.sports,.settings,.report-history,.help,.send-feedback,.history,.playlists,.watchlater,.playlists,.likedvideos,.yourcourses{
  display: flex;
  gap:45px;
  margin-top: 55px;
  margin-left: 22px;
}
.E{
  margin-top: 0px;
}
.div55{
width: 350px;
height: 10px;
background-color: black;
border-radius: 10%;
margin-top: 8px;
}
.infoo{
display: flex;
gap: 60px;
margin-top: 50px;
margin-left: 22px;
}
.cerclee{
width: 70px;
height: 70px;
background-color: black;
border-radius: 50%;
}
.imm{
width: 70px;
height: 70px;
background-color: black;
border-radius: 50%;
}
h5{
color: white;
font-size: 57px;
font-family:Arial, Helvetica, sans-serif;
}
/*content PARTIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.div3{
  width: 800px;
  height: 550px;
  background-color: gray;
  border-radius: 3%;
}
.image{
  width: 800px;
height: 550px;
background-color: gray;
border-radius: 3%;
}
.TRI,.TRI3,.TRI4,.TRI5,.TRI6,.TRI7,.TRI8,.TRI9,.TRI10{
  display: flex;
  justify-content: end;
  gap: 86px;
  margin-top: 10px;
  margin-left: 50px;
}
.TRI2{
display: flex;
justify-content: end;
gap: 86px;
margin-top: 180px;
margin-left: 50px;
}
.cercle{
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 50%;
}
.im{
  margin-top :10px;
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 50%;
}
.div5{
    width: 700px;
    height: 20px;
    background-color: black;
    border-radius: 10%;
    margin-top: 8px;
}
.div6{
  width: 500px;
  height: 20px;
  background-color: black;
  border-radius: 10%;
  margin-top: 25px;
}
.info{
  display: flex;
  gap: 35px;
}
.h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
 
}
.h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: white;
  padding-top: 27px;
}



.short{
display: flex;
gap: 45px;
margin-top: 90px;
margin-left: 70px;
justify-content: start;
}

.sho{
  width: 500px;
  height: 800px;
background-color: white;
border-radius: 46px;
}
.SH1{
  width: 500px;
height: 800px;
background-color: white;
border-radius: 46px;

}
.vid{
  display: flex;
gap: 41px;
justify-content: end;
}
h4{
color: white;
margin-top: 15px;
font-size: 45px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h6{
color: white;
margin-top: 15px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: -32px;
}



@media-screen and ( min-width:1001px) {
.classedel’elementHTML {
Font-size : 20px
}
}